.input {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: var(--text-color);
    box-shadow: 0 1px 1px rgba(115, 98, 141, .1);
    background-image: url('data:image/svg+xml;utf8,<svg width="14px" height="14px" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g fill="none"><circle stroke="rgb(156, 156, 156)" stroke-width="1.5" cx="5.5" cy="5.5" r="4.5"></circle><path d="M9,9 L12.5,12.5" stroke="rgb(156, 156, 156)" stroke-width="1.5" stroke-linecap="round"></path></g></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 11px) 9px;

    box-sizing: border-box;
    padding: 6px 3.5rem 6px 1.2rem;
    border: none;
    border-radius: var(--radius);
    -webkit-appearance: none;

    &:focus {
        //box-shadow: 0 1px 1px rgba(115, 98, 141, .3);
        box-shadow: 0 0 0 1px rgba(50, 139, 242, .6);
        background-image: url('data:image/svg+xml;utf8,<svg width="14px" height="14px" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g fill="none"><circle stroke="rgb(90, 90, 90)" stroke-width="1.5" cx="5.5" cy="5.5" r="4.5"></circle><path d="M9,9 L12.5,12.5" stroke="rgb(90, 90, 90)" stroke-width="1.5" stroke-linecap="round"></path></g></svg>');
    }


    &::placeholder {
        color: rgb(100, 100, 100);
        font-size: 1.2rem;
    }
}

:global(.fixed-header) .input {
    background-color: rgb(237, 239, 241);
    box-shadow: none;
}