/*.wrapper {
    display: grid;
    grid-row-gap: 1rem;
}*/

/*.left-part, .right-part {
    display: grid;
}*/

/*.left-part {
    grid-template-columns: repeat(3, 1fr);
}*/

/*
.right-part {
    grid-template-columns: repeat(2, 1fr);
}*/
