@keyframes ldio-zr8az2qsok {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.ldio-zr8az2qsok div {
    left: 16px;
    top: 0px;
    position: absolute;
    animation: ldio-zr8az2qsok linear 1.0638297872340425s infinite;
    background: #45414c;
    width: 4.02px;
    height: 10px;
    border-radius: 1.809px / 1.809px;
    transform-origin: 2.01px 17px;

}

.ldio-zr8az2qsok div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.95s;
    background: #45414c;
}

.ldio-zr8az2qsok div:nth-child(2) {
    transform: rotate(40deg);
    animation-delay: -0.83s;
    background: #45414c;
}

.ldio-zr8az2qsok div:nth-child(3) {
    transform: rotate(80deg);
    animation-delay: -0.71s;
    background: #45414c;
}

.ldio-zr8az2qsok div:nth-child(4) {
    transform: rotate(120deg);
    animation-delay: -0.59s;
    background: #45414c;
}

.ldio-zr8az2qsok div:nth-child(5) {
    transform: rotate(160deg);
    animation-delay: -0.47281323877068554s;
    background: #45414c;
}

.ldio-zr8az2qsok div:nth-child(6) {
    transform: rotate(200deg);
    animation-delay: -0.35460992907801414s;
    background: #45414c;
}

.ldio-zr8az2qsok div:nth-child(7) {
    transform: rotate(240deg);
    animation-delay: -0.23640661938534277s;
    background: #45414c;
}

.ldio-zr8az2qsok div:nth-child(8) {
    transform: rotate(280deg);
    animation-delay: -0.11820330969267138s;
    background: #45414c;
}

.ldio-zr8az2qsok div:nth-child(9) {
    transform: rotate(320deg);
    animation-delay: 0s;
    background: #45414c;
}

.loadingio-spinner-spinner-eaeb7elgu8 {
    width: 36px;
    height: 35px;
    display: inline-block;
    overflow: hidden;
}

.ldio-zr8az2qsok {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-zr8az2qsok div {
    box-sizing: content-box;
}